* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: steelblue;
    border-bottom-style: solid;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px; 
    left: 75px;
}

header, .grid, footer {
    max-width: 840px; 
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

aside {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20rem;
    position: relative;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

footer {
    text-align: center;
    border-top-style: solid;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 2px dashed rgb(44, 44, 116);
    padding: 1rem;
    background-color: lightgray;
    color: rgb(65, 41, 13);
}